@charset "UTF-8";
body {
    background-color: #75b6a1; /* Fondo verde pastel */
}

.card {
    border: none;
    border-radius: 15px;
    background-color: #fff;
}

.card-title {
    color: #4c8d8d; /* Color azul para el título */
}

.btn-primary {
    background-color: #017a7a; /* Color azul del botón */
    border-color: #017a7a;
}

.btn-primary:hover {
    background-color: #015b5b;
    border-color: #015b5b;
}

/* Estilo para los campos de formulario */
.form-control {
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #017a7a;
    box-shadow: 0 0 0 0.2rem rgba(1, 122, 122, 0.25);
}
